.category {
  border-bottom: var(--border-line);

  @media (min-width: 1200px) {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 50%);

    &::after {
      position: absolute;
      top: 0;
      left: 50%;
      bottom: 0;
      width: 1px;
      background-color: var(--border-color);
      transform: translateX(-50%);
      content: '';
    }
  }
}

.category__left {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url('./../../assets/category/left-colum.jpg') no-repeat center/cover;
  height: calc(100vh - var(--header-height));

  @media (min-width: 1200px) {
    position: sticky;
    top: var(--header-height);
  }

  @media (max-width: 1199px) {
    height: 500px;
  }

  @media (max-width: 767px) {
    height: 420px;
  }
}

.category__title {
  color: var(--white);
}

.category__right {
  @media (max-width: 767px) {
    border-top: var(--border-line);
  }

  @media (min-width: 768px) {
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;

    &::after {
      position: absolute;
      top: 0;
      left: 50%;
      bottom: 0;
      width: 1px;
      background-color: var(--border-color);
      transform: translateX(-50%);
      content: '';
    }
  }
}
