.checkout {
  border-bottom: var(--border-line);

  @media (min-width: 1200px) {
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: flex-start;

    &::after {
      position: absolute;
      top: 0;
      left: 50%;
      bottom: 0;
      width: 1px;
      background-color: var(--border-color);
      transform: translateX(-50%);
      content: '';
    }
  }
}

.checkout__forms {
  padding: 40px 16px;

  @media (min-width: 768px) {
    padding: 40px 80px;
  }
}

.checkout__breadcrumbs {
  margin-bottom: 32px;

  @media (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.checkout__info {
  padding: 24px 16px;
  margin-bottom: 24px;
  background: var(--light-gray);

  @media (min-width: 768px) {
    padding: 40px;
  }
}

.checkout__order {
  padding: 24px 16px;
  background: var(--extra-light);

  @media (max-width: 1199px) {
    border-top: var(--border-line);
  }

  @media (min-width: 768px) {
    padding: 40px;
  }
}

.checkout__title {
  margin-bottom: 40px;
}

.checkout__card {
  margin-bottom: 24px;
}

.checkout__secure {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-top: 60px;
}

.checkout__gift {
  padding-top: 24px;
  margin-bottom: 24px;
  border-top: 1px solid var(--light-gray);
}

.checkout__gift-text {
  margin-bottom: 16px;
}

.checkout__table {
  padding-top: 24px;
  margin-bottom: 24px;
  border-top: 1px solid var(--light-gray);
}

.table__line,
.table__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.table__line {
  margin-top: 24px;
  margin-bottom: 24px;
}

.table__total {
  padding-top: 24px;
  border-top: 1px solid var(--light-gray);
}

.checkout-card {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 16px;
}

.checkout-card__img {
  border: var(--border-line);
}

.checkout-card__title {
  margin-bottom: 8px;
}
