.plans {
  border-bottom: var(--border-line);

  @media (min-width: 1200px) {
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: flex-start;

    &::after {
      position: absolute;
      top: 0;
      left: 50%;
      bottom: 0;
      width: 1px;
      background-color: var(--border-color);
      transform: translateX(-50%);
      content: '';
    }
  }
}

.plans__image {
  position: relative;
  width: 100%;
  height: 420px;
  max-width: 100%;

  @media (max-width: 1199px) {
    order: -1;
  }

  @media (min-width: 768px) {
    height: 500px;
  }

  @media (min-width: 1200px) {
    aspect-ratio: 1;
    height: auto;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background-color: rgba(#121212, 0.25);
    pointer-events: none;
  }
}

.plans__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.plans__content {
  padding: 40px 16px;

  @media (max-width: 1199px) {
    border-top: var(--border-line);
  }

  @media (min-width: 768px) {
    padding: 80px 40px;
  }
}

.plans__subtitle {
  margin-bottom: 24px;
}

.plans__title {
  margin-bottom: 16px;
}

.plans__heading {
  margin-bottom: 16px;
}

.plans__text {
  margin-bottom: 24px;
}

.plans__plans {
  margin-bottom: 40px;
}

.plans__btn {
  width: 100%;
  margin-top: 40px;
}

.plans__block {
  padding: 40px 0;
  border-top: 1px solid var(--light-gray);
  border-bottom: 1px solid var(--light-gray);
}

.plans__block + .plans__block {
  border-top: none;
}

.plans__btns {
  display: grid;
  gap: 16px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.plan {
  display: flex;
  flex-direction: column;
}

.plan + .plan {
  margin-top: 16px;
}

.plan__top {
  border: 1px solid var(--light-gray);
  border-bottom-width: 0;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

.plan__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.plan__content {
  padding: 16px;

  @media (max-width: 767px) {
    border-top: 1px solid var(--light-gray);
  }

  @media (min-width: 768px) {
    border-left: 1px solid var(--light-gray);
  }
}

.plan__name {
  margin-bottom: 16px;
}

.plans__quantity {
  @media (max-width: 767px) {
    width: 100%;
  }
}

.plan__list li {
  margin-left: 20px;
  padding-left: 5px;
  list-style-type: disc;
}

.plan__list li + li {
  margin-top: 4px;
}
