.sticky-section {
  border-bottom: var(--border-line);

  @media (min-width: 1200px) {
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: flex-start;

    &::after {
      position: absolute;
      top: 0;
      left: 50%;
      bottom: 0;
      width: 1px;
      background-color: var(--border-color);
      transform: translateX(-50%);
      content: '';
    }
  }
}

.sticky-section__sticky {
  display: grid;
  padding: 40px 16px;

  @media (min-width: 768px) {
    padding: 80px;
  }

  @media (min-width: 1200px) {
    position: sticky;
    top: var(--header-height);
  }
}

.sticky-section__content {
  display: grid;
  padding: 40px 16px;

  @media (min-width: 768px) {
    padding: 80px;
  }

  @media (min-width: 1200px) {
    position: sticky;
    top: var(--header-height);
  }
}
