.story-section {
  border-bottom: 1px solid #000;
}

.story {
  @media (min-width: 1200px) {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

.story + .story {
  border-top: 1px solid #000;
}

.story__image {
  position: relative;
  height: 420px;

  @media (min-width: 768px) {
    height: 500px;
  }

  @media (min-width: 1200px) {
    aspect-ratio: 1;
    height: 100%;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background-color: rgba(#121212, 0.25);
    pointer-events: none;
  }
}

.story__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.story__content {
  padding: 40px 16px;

  @media (max-width: 1199px) {
    border-top: 1px solid #000;
  }

  @media (min-width: 768px) {
    padding: 80px;
  }
}

.story:nth-child(odd) .story__content,
.story:nth-child(even) .story__img {
  @media (min-width: 1200px) {
    border-left: 1px solid #000;
  }
}

.story:nth-child(even) .story__content {
  order: -1;
}

.story__text {
  margin-top: 16px;
  color: rgba(#121212, 0.9);
}
