.subscription {
  border-bottom: var(--border-line);

  @media (min-width: 1200px) {
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: flex-start;

    &::after {
      position: absolute;
      top: 0;
      left: 50%;
      bottom: 0;
      width: 1px;
      background-color: var(--border-color);
      transform: translateX(-50%);
      content: '';
    }
  }
}

.subscription__image {
  position: relative;
  height: 420px;
  max-width: 100%;

  @media (min-width: 768px) {
    height: 500px;
  }

  @media (min-width: 1200px) {
    aspect-ratio: 1;
    height: 100%;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background-color: rgba(#121212, 0.25);
    pointer-events: none;
  }
}

.subscription__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.subscription__content {
  padding: 40px 16px;

  @media (max-width: 1199px) {
    border-top: var(--border-line);
  }

  @media (min-width: 768px) {
    padding: 80px;
  }
}

.subscription__title {
  margin-bottom: 16px;

  @media (min-width: 1200px) {
    margin-bottom: 24px;
  }
}

.subscription__text {
  margin-bottom: 8px;
}

.subscription__list {
  color: rgba(#121212, 0.9);
}

.subscription__list li {
  margin-left: 20px;
  padding-left: 5px;
  list-style-type: disc;
}

.subscription__list + .subscription__text {
  margin-top: 24px;
}

.subscription__btn {
  margin-top: 48px;

  @media (min-width: 768px) {
    margin-top: 80px;
  }
}

.faq {
  padding: 40px 0;
  background: var(--extra-light);
  border-bottom: var(--border-line);

  @media (min-width: 768px) {
    padding: 80px 40px;
  }

  @media (min-width: 1200px) {
    padding: 80px;
  }
}

.faq__block {
  padding: 40px 24px;
  max-width: 850px;
  margin-inline: auto;
  background-color: var(--white);
  border: var(--border-line);
}

.faq__block-title {
  margin-bottom: 24px;
  text-align: center;

  @media (min-width: 768px) {
    margin-bottom: 40px;
  }
}
