.why-section {
  display: none !important;
  border-bottom: 1px solid #000;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: flex-start;
  }
}

.why-section__title,
.why-section__block {
  padding: 40px 16px;

  @media (min-width: 768px) {
    padding: 80px;
  }
}

.why-section__title {
  @media (min-width: 768px) {
    position: sticky;
    top: 0;
  }

  @media (max-width: 767px) {
    border-bottom: 1px solid black;
  }
}

.why-section__block {
  @media (min-width: 767px) {
    border-left: 1px solid black;
  }
}

.why-section__block + .why-section__block {
  border-top: 1px solid black;
}

.why-section__block-title {
  margin-bottom: 16px;
}
