.why-section {
  border-bottom: var(--border-line);

  @media (min-width: 1200px) {
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: flex-start;

    &::after {
      position: absolute;
      top: 0;
      left: 50%;
      bottom: 0;
      width: 1px;
      background-color: var(--border-color);
      transform: translateX(-50%);
      content: '';
    }
  }
}

.why-section__content,
.why-section__block {
  padding: 40px 16px;

  @media (min-width: 768px) {
    padding: 80px;
  }
}

.why-section__content {
  @media (max-width: 767px) {
    border-bottom: var(--border-line);
  }

  @media (min-width: 1200px) {
    position: sticky;
    top: var(--header-height);
  }
}

.why-section__block + .why-section__block {
  border-top: var(--border-line);
}

.why-section__block-title {
  margin-bottom: 16px;
}

.why-section__title-wrap,
.why-section__block-title-wrap,
.why-section__block-text-wrap {
  overflow: hidden;
}
