.breadcrumb {
  display: flex;
  flex-wrap: wrap;
}

.breadcrumb__item:not(.active),
.breadcrumb__item:not(:last-child) {
  &::after {
    margin: 0 4px;
    content: '/';
  }
}

.breadcrumb__item.active {
  color: var(--gray);
}
