.dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;
  transition-duration: 0.3s;
  transition-behavior: allow-discrete;
  opacity: 0;

  @media (min-width: 768px) {
    backdrop-filter: blur(3px);
  }
}

.dialog.show {
  display: block;
  opacity: 1;

  @starting-stile {
    opacity: 0;
  }
}

.dialog__content {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  margin-left: auto;
  background-color: #fff;
  transform: translateX(50%);
  transition-duration: 0.3s;
  transition-behavior: allow-discrete;
}

.dialog.show .dialog__content {
  transform: translateX(0);

  @starting-stile {
    transform: translateX(50%);
  }
}

.dialog__top {
  padding: 8px 14px;
}

.dialog__link,
.dialog__list,
.dialog__socials {
  padding: 24px;
  border-top: 1px solid #000;
}

.dialog__item + .dialog__item {
  margin-top: 16px;
}

.dialog__socials {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-top: auto;
}
