.good-card {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row: span 1;
  height: 100%;
}

.good-card:nth-child(even) .good-card__content {
  order: 2;
}

.good-card + .good-card {
  border-top: 1px solid black;
}

.good-card__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border-right: 1px solid #000;
  text-align: center;
}

.good-card:nth-child(even) .good-card__content {
  border-right: none;
}

.good-card:nth-child(even) .good-card__image {
  border-right: 1px solid #000;
}

.good-card__image {
  overflow: hidden;
}

.good-card__image img {
  display: block;
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
