.good-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: span 1;
    height: 100%;

    border-right: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;

    &__text {
        padding: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    &--reverse {
        .good-card__text {
            order: 2;
        }
    }
}

.home-section__goods > .good-card:last-child {
    border-bottom: 1px solid black;
}
