.good-card {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row: span 1;
  height: 100%;

  &::after {
    top: 0;
    left: 50%;
    bottom: 0;
    width: 1px;
    transform: translateX(-50%);
    background-color: var(--border-color);
    position: absolute;
    content: '';
  }
}

.good-card:nth-child(even) .good-card__content {
  order: 2;
}

.good-card + .good-card {
  border-top: var(--border-line);
}

.good-card__content {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 12px;
  padding: 12px;
  text-align: center;

  @media (min-width: 768px) {
    padding: 24px;
  }
}

.good-card__title {
  grid-row: 2 / 3;
}

.good-card__link {
  grid-row: 3/4;
  align-self: flex-end;
}

.good-card__image {
  overflow: hidden;
}

.good-card__image img {
  display: block;
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
