.header {
  position: sticky;
  top: 0;
  z-index: 150;
  display: flex;
  justify-content: space-between;
  height: var(--header-height);
  border-top: var(--border-line);
  border-bottom: var(--border-line);
  background-color: white;
}

.header__left,
.header__right {
  position: relative;
  display: flex;
  width: 25%;

  @media (max-width: 1199px) {
    display: none;
  }

  &::before,
  &::after {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    width: 1px;
    transform: translateX(-50%);
    background-color: var(--border-color);
    content: '';
  }

  &::before {
    left: 0;
  }
}

.header__left::before {
  right: 0;
  left: auto;
  transform: translateX(50%);
}

.header__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  width: 50%;
}

.header__burger,
.header__bag {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
}

.header__burger {
  border-right: var(--border-line);

  @media (min-width: 1200px) {
    display: none;
  }
}

.header__bag {
  border-left: var(--border-line);

  @media (min-width: 1200px) {
    display: none;
  }
}
