.home-section {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: flex-start;
  border-bottom: 1px solid #000;

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
  }
}

.home-section__main {
  display: grid;
  padding: 40px 16px;

  @media (min-width: 768px) {
    padding: 80px;
  }

  @media (min-width: 1200px) {
    position: sticky;
    top: 0;
  }
}

.home-section__header {
  padding-bottom: 54px;
}

.home-section__title {
  display: flex;
  margin-bottom: 15px;

  &::after {
    content: '';
    background-image: url('/icons/R.svg');
    background-size: cover;
    display: block;
    width: 32px;
    height: 32px;
    margin-top: auto;
    margin-bottom: 15px;

    @media (min-width: 1200px) {
      margin-bottom: 35px;
    }
  }
}

.home-section__text {
  opacity: 0.9;
}

.home-section__footer {
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid black;
}

.home-section__image {
  margin-top: 24px;
  padding-right: 24px;
  border-right: 1px solid black;
}

.home-section__footer-text {
  margin-top: auto;
  padding-left: 24px;
}

.home-section__goods {
  display: grid;

  @media (min-width: 800px) {
    border-left: 1px solid #000;
  }
}
