.home-section {
  border-bottom: 1px solid #000;

  @media (min-width: 1200px) {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: flex-start;
  }
}

.home-section__main {
  display: grid;
  padding: 40px 16px;

  @media (min-width: 768px) {
    padding: 80px;
  }

  @media (min-width: 1200px) {
    position: sticky;
    top: 0;
  }
}

.home-section__header {
  padding-bottom: 54px;
}

.home-section__title {
  margin-bottom: 15px;
}

.home-section__title sup {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 1px solid #000;
  border-radius: 100%;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;

  @media (min-width: 768px) {
    width: 32px;
    height: 32px;
    font-size: 28px;
  }
}

.home-section__text {
  opacity: 0.9;
  max-width: 560px;
}

.home-section__footer {
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid black;
}

.home-section__image {
  margin-top: 24px;
  padding-right: 24px;
  border-right: 1px solid black;
}

.home-section__image img {
  display: block;
}

.home-section__footer-text-wrap {
  margin-top: auto;
  padding-left: 24px;
  overflow: hidden;
}

.home-section__goods {
  display: grid;
  border-top: 1px solid #000;

  @media (min-width: 1200px) {
    border-top: none;
    border-left: 1px solid #000;
  }
}
