.home-section {
  border-bottom: var(--border-line);

  @media (min-width: 1200px) {
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: flex-start;

    &::after {
      position: absolute;
      top: 0;
      left: 50%;
      bottom: 0;
      width: 1px;
      background-color: var(--border-color);
      transform: translateX(-50%);
      content: '';
    }
  }
}

.home-section__main {
  display: grid;
  padding: 40px 16px;

  @media (min-width: 768px) {
    padding: 80px;
  }

  @media (min-width: 1200px) {
    position: sticky;
    top: var(--header-height);
  }
}

.home-section__header {
  padding-bottom: 54px;
}

.home-section__title {
  margin-bottom: 15px;
}

.home-section__title sup {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: var(--border-line);
  border-radius: 100%;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;

  @media (min-width: 768px) {
    width: 32px;
    height: 32px;
    font-size: 28px;
  }
}

.home-section__text {
  opacity: 0.9;
  max-width: 560px;
}

.home-section__footer {
  position: relative;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 24px;
  border-top: var(--border-line);

  &::after {
    position: absolute;
    display: block;
    top: 24px;
    left: 50%;
    bottom: 0;
    width: 1px;
    background-color: var(--border-color);
    position: absolute;
    content: '';
  }
}

.home-section__image {
  padding-right: 24px;
  // border-right: var(--border-line);
}

.home-section__image img {
  display: block;
}

.home-section__footer-text-wrap {
  margin-top: auto;
  padding-left: 24px;
  overflow: hidden;
}

.home-section__goods {
  display: grid;
  border-top: var(--border-line);

  @media (min-width: 1200px) {
    border-top: none;
    // border-left: var(--border-line);
  }
}
