[class^='icon-'],
[class*=' icon-'] {
  color: inherit;
  speak: never;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: '\e91f';
}
.icon-arrow-drop-down:before {
  content: '\e920';
}
.icon-arrow-bottom-right:before {
  content: '\e921';
}
.icon-arrow-left:before {
  content: '\e922';
}
.icon-arrow-right:before {
  content: '\e923';
}
.icon-arrow-top-right:before {
  content: '\e924';
}
.icon-calendar_month:before {
  content: '\e925';
}
.icon-call:before {
  content: '\e926';
}
.icon-chevron-down:before {
  content: '\e927';
}
.icon-chevron-left:before {
  content: '\e928';
}
.icon-chevron-right:before {
  content: '\e929';
}
.icon-chevron-up:before {
  content: '\e92a';
}
.icon-close:before {
  content: '\e92b';
}
.icon-edit:before {
  content: '\e92d';
}
.icon-location:before {
  content: '\e92e';
}
.icon-map:before {
  content: '\e92f';
}
.icon-menu:before {
  content: '\e930';
}
.icon-person:before {
  content: '\e931';
}
.icon-phone:before {
  content: '\e932';
}
.icon-pin:before {
  content: '\e933';
}
.icon-shopping-basket:before {
  content: '\e934';
}
.icon-shopping-cart:before {
  content: '\e935';
}
.icon-visibility-on:before {
  content: '\e937';
}
.icon-visibility-off:before {
  content: '\e938';
}
.icon-apple:before {
  content: '\e900';
}
.icon-arrow-drop-down-ligth:before {
  content: '\e901';
}
.icon-arrow-drop-up-light:before {
  content: '\e902';
}
.icon-calendar:before {
  content: '\e903';
}
.icon-call-light:before {
  content: '\e904';
}
.icon-check-light:before {
  content: '\e905';
}
.icon-close-light:before {
  content: '\e906';
}
.icon-arrow-right-light:before {
  content: '\e907';
}
.icon-edit-light:before {
  content: '\e908';
}
.icon-expand-less-light:before {
  content: '\e909';
}
.icon-expand-more-ligth-light:before {
  content: '\e90a';
}
.icon-facebook:before {
  content: '\e90b';
}
.icon-instagram:before {
  content: '\e90c';
}
.icon-left-light:before {
  content: '\e90d';
}
.icon-local-mall:before {
  content: '\e90e';
}
.icon-location-light:before {
  content: '\e90f';
}
.icon-lock-light:before {
  content: '\e910';
}
.icon-map-light:before {
  content: '\e911';
}
.icon-menu-light:before {
  content: '\e912';
}
.icon-arrow-top-right-light:before {
  content: '\e913';
}
.icon-phone-enabled-light:before {
  content: '\e914';
}
.icon-phone-talk-light:before {
  content: '\e915';
}
.icon-pin-drop-light:before {
  content: '\e916';
}
.icon-pinterest:before {
  content: '\e917';
}
.icon-shopping-bag-light:before {
  content: '\e918';
}
.icon-shopping-basket-light:before {
  content: '\e919';
}
.icon-shopping-cart-light:before {
  content: '\e91a';
}
.icon-arrow-bottom-right-light:before {
  content: '\e91b';
}
.icon-telegram:before {
  content: '\e91c';
}
.icon-twitter:before {
  content: '\e91d';
}
.icon-arrow-left-light:before {
  content: '\e91e';
}
