input {
  padding: 16px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;
  border: 1px solid #d2d2d7;

  &::placeholder {
    color: #808080;
  }

  &:hover {
    border-color: #808080;
  }

  &:focus {
    border-color: #808080;
    outline: 1px solid #808080;
  }
}

textarea {
  padding: 0;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  border: none;
  resize: none;

  &:focus {
    outline: 1px solid #000;
  }
}
