input {
  padding: 16px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;
  border: 1px solid var(--light-gray);

  &::placeholder {
    color: var(--gray);
  }

  &:hover {
    border-color: var(--gray);
  }

  &:focus {
    border-color: var(--gray);
    outline: 1px solid var(--gray);
  }
}

textarea {
  padding: 0;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  border: none;
  resize: none;

  &:focus {
    outline: var(--border-line);
  }
}
