.popup {
  position: fixed;
  top: calc(var(--header-height) - 1px);
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;
  opacity: 0;
  transition-duration: 0.3s;
  transition-behavior: allow-discrete;
  background-color: rgba(var(--light-gray), 0.35);

  @media (min-width: 1200px) {
    padding-top: var(--header-height);
    top: 0;
    backdrop-filter: blur(3px);
  }

  @media (min-width: 1200px) {
    z-index: 200;
  }

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: var(--border-line);
    content: '';
    pointer-events: none;
  }
}

.popup--left,
.popup--right {
  top: 0;
  padding-top: 0;
  z-index: 200;
}

.popup--left {
  @media (min-width: 768px) {
    backdrop-filter: blur(3px);
  }
}

.popup.show {
  display: block;
  opacity: 1;

  @starting-style {
    opacity: 0;
  }
}

body:has(.popup.show) {
  overflow: hidden;
}

.popup__content {
  width: 100%;
  height: 100%;
  border: var(--border-line);
  background: var(--white);
  transition-duration: 0.3s;
  transition-behavior: allow-discrete;
  opacity: 0;
  transform: translateY(150px);
  overflow: auto;

  @media (min-width: 768px) {
    margin: 0 auto;
  }

  @media (min-width: 1200px) {
    width: 62.5%;
  }

  @media (min-width: 1400px) {
    width: 50%;
  }
}

.popup.show .popup__content {
  opacity: 1;
  transform: translateY(0);

  @starting-style {
    opacity: 1;
    transform: translateY(150px);
  }
}

.popup--right .popup__content {
  margin-right: 0;
  transform: translateX(50%);

  @media (min-width: 1200px) {
    width: 50%;
  }
}

.popup--right.show .popup__content {
  transform: translateX(0px);

  @starting-style {
    transform: translateX(50%);
  }
}

.popup--left .popup__content {
  margin-left: 0;
  transform: translateX(-50%);

  @media (min-width: 768px) {
    width: 50%;
  }
}

.popup--left.show .popup__content {
  transform: translateX(0px);

  @starting-style {
    transform: translateX(-50%);
  }
}
