.quantity {
  display: inline-flex;
  border: var(--border-line);
}

.quantity__value {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  flex-grow: 1;
}

.quantity__button {
  position: relative;
  width: 44px;
  height: 44px;

  &:first-child {
    border-right: var(--border-line);
  }

  &:last-child {
    border-left: var(--border-line);
  }
}

.quantity__button span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 1px;
  background-color: var(--border-color);
  transform: translate(-50%, -50%);

  &:nth-child(2) {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}
