* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #000 #fff;
}

body {
  position: relative;
  color: black;
  background: white;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 101;
    pointer-events: none;
    border: 1px solid #000;
    content: '';
  }
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

input {
  border-radius: 0;
  font-family: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}