
:root {
  --header-height: 56px;

  @media (min-width: 1200px) {
    --header-height: 83px;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #000 #fff;
  scrollbar-gutter: stable;
}

body {
  position: relative;
  color: black;
  background: white;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 101;
    pointer-events: none;
    border: 1px solid #000;
    content: '';
  }
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  background-color: #fff;
  font: inherit;

  &:disabled {
    cursor: not-allowed;
  }
}

input {
  border-radius: 0;
  font: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}
