.s-base {
  border-bottom: var(--border-line);

  @media (min-width: 1200px) {
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: flex-start;

    &::after {
      position: absolute;
      top: 0;
      left: 50%;
      bottom: 0;
      width: 1px;
      background-color: var(--border-color);
      transform: translateX(-50%);
      content: '';
    }
  }
}

.s-base__left,
.s-base__right {
  padding: 40px 16px;

  @media (min-width: 768px) {
    padding: 80px;
  }
}

.s-base__left {
  @media (min-width: 1200px) {
    position: sticky;
    top: var(--header-height);
  }
}

.s-base__right {
  @media (max-width: 1199px) {
    border-top: var(--border-line);
  }
}

.s-base__subtitle {
  margin-bottom: 24px;
}

.s-base__heading {
  margin-bottom: 16px;
}

.s-base__button {
  margin-top: 64px;
}

.s-base__subtitle-wrap,
.s-base__text-wrap {
  overflow: hidden;
}
