.service__content {
  padding: 40px 16px;
  text-align: center;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    display: block;
    padding: 80px;
  }

  @media (min-width: 1200px) {
    margin: auto 0;
    border-left: 1px solid black;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--white {
    padding: 51px 16px;
    color: #fff;

    @media (min-width: 768px) {
      padding: 106px 91px;
    }

    @media (min-width: 1200px) {
      border-left: none;
      padding: 216px 0;
      max-width: 586px;
      margin: 0 auto;
    }
  }
}

.service__subtitle {
  margin-bottom: 24px;
}

.service__title {
  margin-bottom: 16px;
}

.service__text {
  margin-bottom: 64px;
}