.socials {
  display: flex;
  gap: 32px;
}

.socials--round {
  @media (max-width: 767px) {
    gap: 16px;
  }
}

.socials__link {
  transition: 0.3s all ease;
  transition-property: color, border-color;

  @media (pointer: fine) {
    &:hover {
      color: var(--gray);
    }
  }
}

.socials--round .socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: var(--border-line);

  @media (pointer: fine) {
    &:hover {
      border-color: var(--gray);
    }
  }
}
